
<div class="row">
<div class="col s12 m6">
  <div class="row">
    <a class="waves-effect waves-light btn left red darken-4">Need to howl?</a>
    <a class="waves-effect waves-light btn right red darken-4">See the Pack</a>
  </div>
  <div class="row howlTimeline">
    <h4>Here are the last five<br>howls from your pack:</h4>
  </div>


    <% @howls.each do |h| %>
          <div class="card">
            <div class="card-content howlCard">
                <span class="card-title" href="/howls/<%= h.id %>" >
                    <%= h.wolf.name %>
                </span>
                <img src="<%= h.wolf.picture_url %>" alt="" class="howlProfileImage circle right">
                <a class="right secondary-content">Today</a>
                <% if h.share_image_url? %>
                  <img src="<%= h.share_image_url %>" alt="" class="howlImage">
                <% end %>
                <p><%= h.howl %></p>
            </div>
            <div class="card-action">
              <a href="#">Howl Back (0)</a>
              <a href="#">Like (0)</a>
            </div>
          </div>      
     <% end %>


  <a class="waves-effect waves-light btn red darken-4 previousHowlsButton">See Previous Howls</a>

  <a  href="/howls/new" class="btn-floating btn-large waves-effect waves-light right red darken-4"><i class="material-icons">add</i></a>
        </div>
      </div> 
