
<div class="row">
<div class="col s12 m6">

  <% if @howl.errors.any? %>
    <div class="row">
      <div class="col s12 m5">
        <div class="card-panel">
            <ul>
              <% @howl.errors.full_messages.each do |e| %>
                <li><%= e %></li>
              <% end %>
            </ul>
        </div>
      </div>
    </div>
  <% end %>        



<div class="row">
  <form action="/howls/<%= @howl.id %>" method="post" class="col s12">
    <div class="row">
      <div class="input-field col xs12 s8">
        <input name="howl" type="text" class="validate" value="<%= @howl.howl %>" >
        <label for="howl">What are you howling about?</label>
      </div>
      <div class="input-field col xs12 s8">
        <input name="share_image_url" type="text" class="validate" value="<%= @howl.share_image_url %>">
        <label for="share_image_url">Wanna share a picture?</label>
      </div>
  <div class="input-field col xs12 s8">
  <!-- DROPDOWN PICK A WOLF -->
    <select class="icons" id="wolf" name="wolf_id">
      <option value="" disabled selected>Who's Howling?</option>
      <% @wolves.each do |w| %>
        <option value="<%= w.id %>" data-icon="<%= w.picture_url %>" class="circle right">
          <%= w.name %>
        </option>
      <% end %>
    </select>
    <label>Who's Howling?</label>
  </div><br><br>
    </div><br><br>
    <!-- SUBMIT -->
    <div class="row">
      <div class="left">
        <a class="waves-effect waves-light btn red lighten-2" href="/howls">Back</a>
      </div>
      <div class="right">
        <button class="btn waves-effect waves-light red darken-4" type="submit" name="action">Howl
        </button>
      </div>
    </div>
  </form>
</div>


