


<div class = "container">
<div class="row">
  <div class="col s12 m6 offset-m3">
    <div class="card">
      <div class="card-content howlCard">
        <span class="card-title" href="/howls/<%= @howlid %>"><%= @howl.wolf.name %></span>
        <img src="<%= @howl.wolf.picture_url %>" alt="" class="howlProfileImage circle right">
        <a class="right secondary-content">Today</a><br>
        <img src="<%= @howl.share_image_url %>" alt="" class="howlImage">
        <p><%= @howl.howl %></p>
      </div>
    <div class="card-action">
        <a href="#">Howl Back (0)</a>
        <a href="#">Like (0)</a>
    </div>
  </div>   
<!-- 
    <a class="waves-effect waves-light btn red darken-4 previousHowlsButton">See Previous Howls</a>

    <a  href="/howls/new" class="btn-floating btn-large waves-effect waves-light right red darken-4"><i class="material-icons">add</i></a> -->
  </div>
</div>
</div>

<div class="container">
  <div class="row">
    <div class="col s11 offset-s1 m5 offset-m4">
      <ul class="collection">
      <% @howlbacks.each do |h| %>
        <li class="collection-item avatar">
          <img src="<%= h.wolf.picture_url %>" alt="" class="circle">
          <span class="title"><%= h.wolf.name %></span>
          <% if h.response_image_url? %>
                  <img src="<%= h.response_image_url %>" alt="" class="howlImage">
                <% end %>
          <p class="responseText"><%= h.message %>
          </p>
          <a href="#!" class="secondary-content">Today</a>
        </li>
      <% end %>
      </ul>
    </div>
  </div>
</div>
       



<!-- 
    <a class="waves-effect waves-light btn red darken-4 previousHowlsButton">See Previous Howls</a>

    <a  href="/howls/new" class="btn-floating btn-large waves-effect waves-light right red darken-4"><i class="material-icons">add</i></a> -->
  </div>
</div>
</div>
        <div class="container">
          <div class="row">
            <div class="left">
              <a class="waves-effect waves-light btn red lighten-2" href="/howls">Back</a>
            </div>
            <div class="right">
              <a class="btn-floating btn-large waves-effect waves-light red darken-4" href="/responses/new"><i class="material-icons">add</i></a>
            </div>
          </div>
        </div>


